#aboutMe{
    color: black;
    text-align: left;
    font-size: 30px;
}

.headshot {
    height: 27em;
    border-color: gray;
    border-radius: 3em;
    align-content: center;
    margin: auto;    
    display: block;
}

#aboutSum{
    font-size: 20px;
}
#quote{
    font-size: 20px;
    font-style: italic;
}
#quoteA{
    font-size: 20px;
    font-style: italic;
}
h1{
    font-weight: bolder;
}
hr{
    border: 1px solid rgb(230, 133, 23);
 }