header{
    height: 700px;
}
.jumbotron{
    background-image: url("../assets/streets.jpeg");
    background-size: 100% 100%;
}
#jumbotron-heading{
    font-size: 100px;
    color: rgb(218, 218, 218);
}
#jobTitle{
    color: rgb(218, 218, 218); 
}
