#projects{
    height: 600px;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(../assets/lights.jpg);
    background-size: cover;
    padding: 20px auto;
    overflow: hidden;
}
.thumbnail{
    width: 300px;
    background-size: cover;
    
}
